@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #cafdff;
}

a{
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.logo{
    width: 300px;

}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    padding-left: 16px;
    list-style: none;
}